@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

body {
  background-color: #1f4d89;
  font-family: "Inter", sans-serif;
}

/* * * FORM * * */

form {
  margin-bottom: 4rem;
}

.form-group {
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  width: 400px;
  margin: 1.5rem;
  align-items: baseline;
}

label {
  font-size: 1.1rem;
  color: #fff;
}

input,
textarea,
select {
  width: 200px;
  padding: 0.5rem;
  border-radius: 5px;
  border-style: none;
}

select {
  width: 217px;
}

textarea {
  font-family: inherit;
}

.submit-btn {
  margin-left: auto;
  width: 219px;
  border: none;
  background-color: #136613;
  color: #fff;
  letter-spacing: 1px;
}

/* * * NOTEBOOK * * */

.notebook {
  background-color: #ededed;
  margin: 2rem;
}

.notebook p,
.margin {
  padding: 0.25rem;
  margin-left: 1rem;
  font-weight: 700;
}

.notebook span {
  font-weight: 400;
}

.view-block {
  display: flex;
  border-bottom: 1px solid grey;
}

.margin {
  width: 1rem;
  border-right: 1px double red;
  /* border-style: double; */
}

/* * * MODAL * * */

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal {
  background-color: hsl(214, 63%, 56%);
  padding: 2rem;
  margin: 0 auto;
  max-width: 425px;
  position: relative;
  border-radius: 10px;
  top: 20%;
}

.modal h2 {
  margin-top: 0;
}

.modal p {
  font-weight: 700;
}

.modal span {
  font-weight: 400;
}

.modal button {
  padding: 0.5rem 1.25rem;
  margin: 0.5rem 0.75rem 0 0;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  border: none;
  background-color: #136613;
  color: #fff;
}
